﻿
@{
    ViewBag.Title = "Whiteboard";
}


    <meta charset="utf-8">
    <title>Friendly Drawing</title>
    <script src="~/Scripts/atrament.js"></script>
    <style>
			canvas {
				width: 100vw;
				height: 100vh;
				position: fixed;
				top: 0;
				left: 0;
				z-index: 2;
			}
			form {
				z-index: 3;
				position: fixed;
				top: 300;
				left: 100;
				background: rgba(0, 0, 0, 0.7);
				padding: 1em;
				color:white;
			}
			form * {
				margin-bottom: 1em;
			}
			
			
			body {
				font-family: sans-serif;
				padding: 1em;
			}
			#clear {
				display: none;
			}
    </style>

    <form>
        <button id="clear" onclick="event.preventDefault(); atrament.clear();">clear</button><br>
        <label>Thickness</label><br>
        <input type="range" min="1" max="40" oninput="atrament.weight = parseFloat(event.target.value);" value="2" step="0.1" autocomplete="off" /><br>
        <label>Smoothing</label><br>
        <input type="checkbox" onchange="atrament.smoothing = event.target.checked;" checked autocomplete="off"><br>
        <label>Adaptive stroke</label><br>
        <input type="checkbox" onchange="atrament.adaptiveStroke = event.target.checked;" checked autocomplete="off"><br>
        <label>Mode</label>
        <select onchange="atrament.mode = event.target.value;">
            <option value="draw" default>Draw</option>
            <option value="fill" default>Fill</option>
            <option value="erase" default>Erase</option>
        </select><br>
        <label>Colour</label>
        <input type="color" onchange="atrament.color = event.target.value;" value="#000000" autocomplete="off"><br>
        <label>Opacity</label><br>
        <input type="range" min="0" max="1" onchange="atrament.opacity = parseFloat(event.target.value);" value="1" step="0.05" autocomplete="off">
    </form>
    <canvas id="sketcher"></canvas>
    
<script>
		var canvas = document.getElementById('sketcher');
		var atrament = atrament(canvas, window.innerWidth, window.innerHeight);
		var clearButton = document.getElementById('clear');
		canvas.addEventListener('dirty', function(e) {
			clearButton.style.display = atrament.dirty ? 'inline-block' : 'none';
		});
</script>
