﻿@{
    ViewBag.Title = "draw";
}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://rawgit.com/kangax/fabric.js/master/dist/fabric.min.js"></script>
<input type="file" id="file"><br />

<canvas id="canvas" width="600" height="600" style="border: dotted"></canvas>

<img id="canvas" alt="Right click on the canvas to save!">

<image id="canvas"></image>
@section scripts
{
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery.signalR-1.1.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="Scripts/jquery-2.1.3.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>

}

<script>

var canvas = new fabric.Canvas('canvas');
document.getElementById('file').addEventListener("change", function (e) {
  var file = e.target.files[0];
  var reader = new FileReader();
  reader.onload = function (f) {
    var data = f.target.result;
    fabric.Image.fromURL(data, function (img) {
      var oImg = img.set({left: 0, top: 0, angle: 00,width:100, height:100}).scale(0.9);
      canvas.add(oImg).renderAll();
      var a = canvas.setActiveObject(oImg);
      var dataURL = canvas.toDataURL({format: 'png', quality: 0.8});
    });
  };
  reader.readAsDataURL(file);
});

</script>