﻿@{
    ViewBag.Title = "draw";
}

<head>

</head>    
        <canvas id="canvas" width="400" height="400" style="border: dotted"></canvas>
<div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <span class="navbar-toggle collapsed" data-toggle="collapse" data-target="#footer-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </span>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="footer-collapse">
                    <!-- Line Width buttons  -->
                    <form class="navbar-form navbar-left">
                        <div class="btn-group" role="group" aria-label="line-width">
                            <button type="button" class="btn btn-primary btn-linewidth" data-linewidth="1"><span style="font-size:.6em;" class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                            <button type="button" class="btn btn-default btn-linewidth" data-linewidth="3"><span style="font-size:.7em;" class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                            <button type="button" class="btn btn-default btn-linewidth" data-linewidth="6"><span style="font-size:.8em;" class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                            <button type="button" class="btn btn-default btn-linewidth" data-linewidth="10"><span style="font-size:.9em;" class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                            <button type="button" class="btn btn-default btn-linewidth" data-linewidth="15"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                        </div>
                    </form>
                    <!-- Color buttons  -->
                    <form class="navbar-form navbar-left">
                        <div class="btn-group" role="group" aria-label="color">
                            <button type="button" class="btn btn-color btn-default" data-color="0"><span style="color:#000" class="glyphicon glyphicon-tint" aria-hidden="true"></span></button>
                            <button type="button" class="btn btn-default btn-color" data-color="1"><span style="color:#f00" class="glyphicon glyphicon-tint" aria-hidden="true"></span></button>
                            <button type="button" class="btn btn-default btn-color" data-color="2"><span style="color:#ff7f00" class="glyphicon glyphicon-tint" aria-hidden="true"></span></button>
                            <button type="button" class="btn btn-default btn-color" data-color="3"><span style="color:#ff0" class="glyphicon glyphicon-tint" aria-hidden="true"></span></button>
                            <button type="button" class="btn btn-default btn-color" data-color="4"><span style="color:#0f0" class="glyphicon glyphicon-tint" aria-hidden="true"></span></button>
                            <button type="button" class="btn btn-default btn-color" data-color="5"><span style="color:#00f" class="glyphicon glyphicon-tint" aria-hidden="true"></span></button>
                            <button type="button" class="btn btn-default btn-color" data-color="6"><span style="color:#4b0082" class="glyphicon glyphicon-tint" aria-hidden="true"></span></button>
                            <button type="button" class="btn btn-default btn-color btn-primary" data-color="7"><span style="color:#8f00ff" class="glyphicon glyphicon-tint" aria-hidden="true"></span></button>
                            <button type="button" class="btn btn-default btn-color" data-color="8"><span style="color:#fff" class="glyphicon glyphicon-tint" aria-hidden="true"></span></button>
                        </div>
                    </form>
                    <!-- Background, save & New canvas  -->
                    <form class="navbar-form navbar-left">
                        <div class="btn-group" role="group" aria-label="image">
                            <button id="background" type="button" class="btn btn-default" data-toggle="modal" data-target="#ImageModal" data-hover="popover" data-placement="top" data-content="Currently only it works in Chrome or other browsers that support WebP format images" data-trigger="hover" data-original-title="" title=""><span class="glyphicon glyphicon-picture" aria-hidden="true"></span></button>
                            <a id="save" target="_blank" href="#" download="DrawSignal.png" class="btn btn-default"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></a>
                            <button id="New" type="button" class="btn btn-default" data-toggle="modal" data-target="#NewModal"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                        </div>
                    </form>                    
                    <!-- Clear canvas buttons -->
                    <form class="navbar-form navbar-right">
                        <div class="btn-group" role="group" aria-label="Clear canvas">
                            <button type="button" id="btnClear" class="btn btn-default"><span class="glyphicon glyphicon-erase" aria-hidden="true"></span></button>
                            <button type="button" id="btnClearAll" class="btn btn-danger" data-toggle="tooltip" data-placement="top" data-original-title="This erases the canvas for all users!!"><span class="glyphicon glyphicon-erase" aria-hidden="true"></span><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></button>
                        </div>
                    </form>
                    </div>
            </div>
@section scripts
{
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.signalR-1.1.1.min.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/Scripts/main.js"></script>
<script src="Scripts/jquery-2.1.3.js"></script>
<script src="Scripts/bootstrap.min.js"></script>

}