﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


#bak {
    background-color: #fac5ca;
    border: solid;
    border-radius: 10px;

}

#wal {
    
    border: solid;
    border-radius: 10px;

}

#hed{
    font-family: Britannic;
}

#bd{
    font-family: 'Arabic Typesetting';
    font-size: xx-large; 
    
}

.upld{
    width: 300px;
    height: 250px;
    background-color: aliceblue;
    text-align: center;
    border: groove;
    border-bottom: inset;
}

.lib{
    width: 700px ;
    margin-left: auto ;
    margin-right: auto ;
    background-color: aliceblue;
    border: groove;
    text-align: center;
    

}

.waa{
    
   // margin-left: auto ;
   // margin-right: auto ;
    width: 500px;
    height: auto;
    background-color: aliceblue;
    border: groove;
    text-align: center;
    

}

.sear{
    width: 500px;
    height: 400px;
    background-color: aliceblue;
    border: groove;
    text-align: center;
}



#lib{
    text-align: center;
}

#chat{
    width: 700px;
    height: 400px;
    border: 2px solid black;
    padding: 25px;
    margin: 0px;
    overflow:auto;
}

#TxtMessage{
    width: 100%;
    overflow:auto;
}

#results{
    width: 400px;
    height: 400px;
    border: 2px solid black;
    padding: 25px;
    margin: 0px;
   
   
}


#myDiv {
    transform: rotate(20deg); /* Standard syntax */
}



.parallax {
    /* The image used */
    background-color:azure;

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imgg{
    height: 200px;
    width: 1140px;
}


